.players-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.pokemon-container {
  grid-column: 1;
  grid-row: 2;
}

.player-container {
  grid-column: 2;
  grid-row: 2;
}

.pokemon2-container {
  grid-column: 2;
  grid-row: 1;
}

.player2-container {
  grid-column: 1;
  grid-row: 1;
}

.pokeballs img {
  width: 25px;
}

.black-pokeball {
  filter: brightness(0%) saturate(0%);
}

.pokemon {
  width: 200px;
  height: auto;
}

.moves-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%;
  row-gap: 30px;
}

.moves-button {
  background-color: transparent;
  width: 60%;
  align-self: center;
  justify-self: center;
}

.progress-bar {
  margin-top: 10px;
  width: 100%;
  height: 20px;
  border-radius: 15px;
}

progress::-webkit-progress-value {
  background-color: #1ade20;
}

/* Cambia el color de la barra de progreso en Firefox */
progress::-moz-progress-bar {
  background-color: #1ade20;
}

/* Cambia el color de la barra de progreso en Edge e IE */
progress::-ms-fill {
  background-color: #1ade20;
}
